<p id="notice"><%= notice %></p>
<h1>Hi, <%=current_user.first_name%></h1>
<p>
  Your email: <%=current_user.email%>
</br>
<%if current_user.fav_color != nil%>
  Your favorite color: <%=current_user.fav_color%>
  </br>
<%else%>
  </br>
<%end%>

<h3>Here are a list of all other users using this site:</h3>
<div>
    <%@users.each do |user|%>
     <p><%if user != current_user%>
       Name: <%=user.first_name%> <%=user.last_name%>
     </br>
      Email: <%=user.email%>
      </br>
        <%if user.fav_color != nil%>
            Favorite Color: <%=user.fav_color%>
        <%else%>
            Favorite Color: N/A
         <%end%></p>
       </br>
       </br>
       <%end%>
     <%end%>
</div>
